
<!-- <ngbd-modal-focus [buttonLabel]="'Apri Modale'"></ngbd-modal-focus> -->
<div class="row sections-container">
  <div class="col-12 applications-container">
    <app-collapse-basic [buttonLabel]="'Applicazioni'" [id]="'idCollapse'"><app-application-form></app-application-form></app-collapse-basic>
  </div>
</div>
<div class="row sections-container">
  <div class="col-md-12 col-lg-4" *ngFor="let counter of counterArray; let i = index"
    [hidden]="!sectionObjectList[i].show">
    <app-counter [counter]="counter" [section]="sectionObjectList[i]" (onCounterClick)="counterClicked($event)">
    </app-counter>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-4" *ngFor="let section of sectionObjectList">
    <app-section [section]="section" [sectionComponentArray]="sectionComponents" #sectionComponent
      (onCounted)="onCounted($event)"></app-section>
  </div>
</div>
