<div class="row">
  In questo esempio la navigazione a matriosca e la paginazione sono fake
    <div class="col-12">
      <ul class="list-inline">
        <!--Con questo sistema aggiungiamo una classe quando il link e seleziato e mettiamo il tabindex a -1.
        Inoltre,  impostiamo routerLink a null se il link è selezionato -->
        <li class="list-inline-item"><a href="javascript:void(0)" [routerLink]="'/index'" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true}" #rlai="routerLinkActive"  [tabindex]="rlai.isActive ? '-1' : '0'">Index</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)" [routerLink]="'/console'" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true}" #rlah="routerLinkActive"  [tabindex]="rlah.isActive ? '-1' : '0'">Console</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)" [routerLink]="'/login'" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true}" #rlal="routerLinkActive"  [tabindex]="rlal.isActive ? '-1' : '0'">Login</a></li>
      </ul>
    </div>
</div>

<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
