<div class="col-xs-12">
  <ngbd-modal-component [modalTitle]="'Come utilizzare l&acute;applicazione'" [buttonLabel]="'Istruzioni'">
    <div #content>
      <ul>
          <li>La prima colonna mostra gli schema</li>
          <li>La seconda colonna mostra le tabelle</li>
          <li>La terza colonna mostra i campi</li>
      </ul>
    </div>
  </ngbd-modal-component>
</div>
<div class="row">
  <div class="col-md-12 col-lg-4" *ngFor="let section of sectionObjectList">
    <app-section [section]="section" [sectionComponentArray]="sectionComponents" #sectionComponent></app-section>
  </div>
</div>

