<div class="data-row">
  <span>ID:</span>{{data.oggetto.id}}
</div>
<div class="data-row">
  <span>ID database fisico:</span>{{data.oggetto.physicalDatabase.id}}
</div>
<div class="data-row">
  <span>Nome database fisico:</span>{{data.oggetto.physicalDatabase.name}}
</div>
<div class="data-row">
  <span>Vendor modello fisico:</span>{{data.oggetto.physicalDatabase.vendor}}
</div>
<div class="data-row">
  <span>Versione modello fisico:</span>{{data.oggetto.physicalDatabase.version}}
</div>
<div class="data-row">
  <span>Id modello fisico:</span>{{data.oggetto.physicalDatabase.physicalModel.physicalModelType.id}}
</div>
<div class="data-row">
  <span>Nome modello fisico:</span>{{data.oggetto.physicalDatabase.physicalModel.physicalModelType.name}}
</div>
