
<div class="section" *ngIf="section.show">

  <div class="loading-ended" [innerHTML]="loadingEndedMessage" tabindex="0"></div>

  <div class="title"><h2><span class="sr-only">Sezione </span>{{section.singleLabel}}</h2></div>
  <form (ngSubmit)="onSubmit()" #form="ngForm" data-either-validator=".form-check-input" autocomplete="off">

    <div class="form-group name">
      <label for="valore">Valore</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="nomeInput"
      id="valore" class="form-control" minlength="2"
      pattern="[a-zA-Z 0-9]*">
      <div *ngIf="!name.valid && (name.dirty ||name.touched)" class="error">
        <div *ngIf="name.errors.pattern">
         I caratteri ammessi sono  {{name.errors.pattern.requiredPattern}}
       </div>
       <div *ngIf="name.errors.minlength">
        Inserire almeno {{name.errors.minlength.requiredLength}} caratteri
      </div>
     </div>
    </div>

    <fieldset>
      <legend class="sr-only">Seleziona il tipo di status</legend>
      <div class="form-group">
        <div class="form-check con-errori">
          <label for="conErrori" class="form-check-label">
            <input type="checkbox" name="conErrori" #conErrori="ngModel" [(ngModel)]="conErroriInput"
            id="conErrori" class="form-check-input" >Con errori
          </label>
        </div>

        <div class="form-check senza-errori">
          <label for="senzaErrori" class="form-check-label">
            <input type="checkbox" name="senzaErrori" #senzaErrori="ngModel" [(ngModel)]="senzaErroriInput"
            id="senzaErrori" class="form-check-input" >Senza errori
          </label>
        </div>

        <div *ngIf="form.errors?.ev && (conErrori.touched || conErrori.dirty || senzaErrori.touched || senzaErrori.dirty)" class="error">
          Selezionare almeno un'opzione
        </div>
      </div>
  </fieldset>

    <div class="form-group element-per-page">
      <label for="pagination">Example select</label>
      <select class="form-control" id="elementPerPage" name="elementPerPage" [(ngModel)]="elementPerPageInput">
        <option value="10">10</option>
        <option value="25" selected>25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>

    <div class="button-container">
      <input type="button" class="btn btn-primary" value="Pulisci" (click)="formReset()">
      <input type="submit" class="btn btn-primary" [disabled]="form.invalid" value="Filtra" style="margin-left:auto">
    </div>


  </form>



  <div class="data-container" *ngIf="dataContainer" tabindex="0">

    <div class="spinner-container" *ngIf="spinnerContainer" [innerHTML]="spinnerContainerMessage"></div>

    <div class="list-container" *ngIf="elementListContainer">
      <div *ngIf="elementListData.elementi && elementListData.elementi < 1; else sectionTitle">{{section.noElementFound}}</div>
      <div *ngIf="elementTitle"><h3 class="sr-only">Elenco {{section.pluralLabel}}</h3></div>
      <div *ngFor="let element of elementListData.elementi"><a href="javascript:void(0)" [attr.aria-label]="section.singleLabel + ' ' + element.name + ': visualizza dettaglio'">{{element.name}}</a></div>

      <div class="pagination-container" [ngClass]="{marginTop: pages !=null && pages?.length > 0}" *ngIf="pages !=null && pages?.length > 0">
       <ul>
          <li *ngFor="let page of pages"><a [attr.href]="page.href ? (page.href  | trustedContent : 'url') : null" (click)="page.callback()" title="{{page.title}}" [attr.aria-label]="page.title">{{page.label}}</a></li>
        </ul>
      </div>
    </div>

    <div class="detail-container" *ngIf="elementDetailContainer">
    detail
    </div>

    <div class="error-container" *ngIf="errorMessageContainer">
     {{errorMessage}}
    </div>

  </div>

</div>
