$border-color: #CCCCCC;
$border-standard: 1px solid $border-color;
$padding-standard:20px;
$padding-sm:10px;
$padding-xs:5px;
$main-dark-color:#007bff;
$light-text-color: #FFFFFF;
$margin-standard: 20px;
$error-color: #FF0000;

@mixin mixin-title() {
  text-align: center;
  background-color: $main-dark-color;
  color: $light-text-color;
  padding: $padding-sm;
}

.error{
  font-weight: bold;
  color:$error-color;
}

.section{
  border:  $border-standard;
  overflow: auto;
  padding: $padding-standard;
  margin-bottom: $margin-standard;

  form{
    margin-top: $margin-standard;
    padding-bottom:$padding-standard;
    border-bottom: $border-standard;
  }

  h2{
    font-size: 1em;
    margin-bottom:0px;
  }

  .title{
    @include mixin-title();

    .close-button{
      color:#FFFFFF;
      font-size: 1em;
    }
  }

  .form-group{

    label{
      margin-bottom:0px;
    }

    .form-check{
      margin-bottom:0px;
    }

    .error{
      @extend .error;
    }

  }

  .button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .data-container{
    padding:$padding-standard 0 0 0;
  }

  .pagination-container{

  ul{
      padding-left:0px;
      margin-bottom: 0px;
      margin-top: $margin-standard;
    }

    li{
      display: inline;
      margin-right:10px;
    }
  }

  .detail-container{

    .data-row{
      overflow:auto;
      padding-bottom:$padding-xs;

      span:first-of-type{
        font-weight: bold;
        padding-right: $padding-xs;
      }

      &:last-of-type{
        padding-bottom:0px;
      }

    }

  }

}

.margin-top{
  margin-top:$margin-standard;
}

.modal-button{
  margin-bottom:$margin-standard;
}

h1{
  margin-bottom:$margin-standard;
}

.counters{
  padding:$margin-standard;
  border: $border-standard;
  margin-bottom: $margin-standard;

  .title{
    @include mixin-title();
  }

  h2{
    font-size: 1em;
    margin-bottom:0px;
  }

  .counter-container{
    height: 4em;
    overflow-y: auto;

    & div:nth-of-type(1){
    margin-top: $margin-standard;
    }

  }
}

app-collapse-basic{
  p{
    margin-bottom:0px;
  }

  button[aria-controls]{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: $main-dark-color;
    color:$light-text-color;
    width:100%;
    text-align: left;
    padding-left:$padding-standard;
    cursor: pointer;
  }

  div.card{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.applications-container{
  padding-bottom: $padding-standard;
}

.no-padding-left{
  padding-left:0px;
}

.active-link{
  font-weight: bold;
  cursor: text;

  &:hover, &:focus{
    text-decoration: none;
    outline: none;
  }
}

.logo{
  width:40px;
  height: auto;
  float: left;
  margin-top: 5px;
}



